[run]
omit = rainbow_logging_handler/test/*
branch = True
parallel-mode = True


[report]
show_missing = True

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    def __str__

    # Code for supporting different version of Python
    except ImportError:
