language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "pypy"

# command to install dependencies
install:
  - "pip install ."
  - "python setup.py test"  # for installing `tests_require`
  - "pip install nose-cov"  # why `nose-cov` isn't correctlly installed by `setup.py test` ?

# command to run tests
script:
  - "python setup.py nosetests"

branches:
  only:
    - master
    - dev
